*{box-sizing: border-box;}
h2{
    font: "Playfair Display"; 
    text-align: center;
}
p{
    font: "Poppins";
    color: darkslategrey;
}
a{
    font: "Poppins";
    text-align: left;
    text-decoration: none;
    color: inherit;
}
.card{
    width: 320px;
    height: 500px;
    border-color: yellowgreen;
    background-color: whitesmoke;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    overflow: hidden;

}
.imger{
    max-width: min-content;
    height: 150px;

}
img{
    width: 100%;

}
.button{
    border-radius: 10px;
    background-color: #2f5d8a;
    width: 105px;
    height: 50px;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.header{
    width: 800px;
    height: 150px;
    padding: 20px;
    border: 2px;
    margin: 30px;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.headerPlus{
    position: sticky;
    max-width: max-content;
    height: 170px;
    padding: 20px;
    border: 2px;
    margin: 30px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;


}
.boxer {
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
body {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;

}